{{ "<!-- ABOUT -->" | safeHTML }}
<section id="appointments">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Termine</h2>
                <p>aktuelle Workshops und Veranstaltungen</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>CoderDojo Perg</h3>
                    <div>
                        <div>FR, 14. Februar 2020</div>
                        <div>16:00 - 18:00</div>
                    </div>
                    <div class="address">
                        <div>HTL Perg</div>
                        <div>Limesstraße 12-14</div>
                        <div>4060 Leonding</div>
                    </div>
                    <div><a href="https://coderdojo-linz.github.io/anmeldung.html" target="_blank">Anmeldung</a></div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>CoderDojo im Rahmen von Traumberuf Technik an der JKU</h3>
                    <div>
                        <div>FR, 28. Februar 2020</div>
                        <div>16:00 - 18:00</div>
                    </div>
                    <div class="address">
                        <div>Johannes Kepler Universität</div>
                        <div>Altenbergerstraße 69</div>
                        <div>4040 Linz</div>
                    </div>
                    <div><a href="https://coderdojo-linz.github.io/anmeldung.html" target="_blank">Anmeldung</a></div>
                </div>
            </div>


            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>CoderDojo an der FH Hagenberg</h3>
                    <div>
                        <div>FR, 8. Mai 2020</div>
                        <div>16:00 - 18:00</div>
                    </div>
                    <div class="address">
                        <div>FH OÖ, Campus Hagenberg</div>
                        <div>Softwarepark 11</div>
                        <div>4232 Hagenberg im Mühlkreis</div>
                    </div>
                    <div><a href="" target="_blank">Anmeldung</a></div>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>CoderDojo an der HTL Leonding</h3>
                    <div>
                        <div>FR, 19. Juni 2020</div>
                        <div>16:00 - 18:00</div>
                    </div>
                    <div class="address">
                        <div>HTL Leonding</div>
                        <div>Limesstraße 12 - 14</div>
                        <div>4060 Leonding</div>
                    </div>
                    <div><a href="" target="_blank">Anmeldung</a></div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>My Informatics World Day 2020</h3>
                    <div>
                        <div>MO, 19. Oktober 2020</div>
                        <div>9:00 - 17:00</div>
                    </div>
                    <div class="address">
                        <div>Ars Electronica Center</div>
                        <div>Ars Electronica Straße </div>
                        <div>4060 Leonding</div>
                    </div>
                    <div><a href="" target="_blank">Anmeldung</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
