{{ "<!-- ABOUT -->" | safeHTML }}
<section id="appointments">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Termine</h2>

                <p>aktuelle Workshops und Veranstaltungen</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <div class="service-box">
                    <h3>CoderDojo</h3>
                    <p>
                        FR, 20. Jänner 2020<br>
                        14:00 - 17:00
                    </p>
                    <p>
                        HTL Leonding<br>
                        Limesstraße 12-14, 4060 Leonding
                    </p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="service-box">
                    <h3>Event FH Hagenberg</h3>
                    <p>
                        FR, 20. Mai 2020<br>
                        15:00 - 18:00
                    </p>
                    <p>
                        FH Hagenberg<br>
                        Softwarepark 11,
                        4232 Hagenberg im Mühlkreis
                    </p>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="service-box">
                    <h3>Workshop für Lehrer</h3>
                    <p>
                        FR, 27. Juni 2020<br>
                        16:00 - 18:00
                    </p>
                    <p>
                        HTL Perg<br>
                        Machlandstraße 48, 4320 Perg
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>