{{ "<!-- ABOUT -->" | safeHTML }}
<section id="archive">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Archiv</h2>
                <p>vergangene Workshops und Veranstaltungen</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>CoderDojo Perg</h3>
                    <div>
                        <div>FR, 14. Februar 2020</div>
                        <div>16:00 - 18:00</div>
                    </div>
                    <div class="address">
                        <div>HTL Perg</div>
                        <div>Machlandstraße 48</div>
                        <div>4320 Perg</div>
                    </div>
                    <div><a href="https://coderdojo-linz.github.io/anmeldung.html" target="_blank">Anmeldung</a></div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>CoderDojo im Rahmen von Traumberuf Technik an der JKU</h3>
                    <div>
                        <div>FR, 28. Februar 2020</div>
                        <div>16:00 - 18:00</div>
                    </div>
                    <div class="address">
                        <div>Johannes Kepler Universität</div>
                        <div>Altenbergerstraße 69</div>
                        <div>4040 Linz</div>
                    </div>
                    <div><a href="https://coderdojo-linz.github.io/anmeldung.html" target="_blank">Anmeldung</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
