{{ "<!-- ABOUT -->" | safeHTML }}
<section id="archive">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Archiv</h2>
                <p>vergangene Workshops und Veranstaltungen</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>Digitalferien 2023</h3>
                    <div>
                        <div>30. bis 31. Oktober 2023</div>
                    </div>
                    <div class="address">
                        <div>Online- und Präsenz-Workshops zu</div>
                        <div>Game Developing</div>
                        <div>Coding</div>
                        <div>Humanoid Robotics</div>
                        <div>&nbsp;</div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>Meine Software macht den Unterschied</h3>
                    <div>
                        <div>15.02.2023</div>
                    </div>
                    <div class="address">
                        <div>60-minütiger CARRER TALK</div>
                        <div>Bernard Schürz, Birgit Pfindel (beide Primetals)</div>
                        <div>und Dir. Richard Kainerstorfer diskutierten</div>
                        <div>über die Herausforderungen für junge</div>
                        <div>Programmierer:innen heute und in Zukunft</div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>Digitalferien 2022</h3>
                    <div>
                        <div>27. bis 28. Oktober 2022</div>
                    </div>
                    <div class="address">
                        <div>Präsenz-Workshops</div>
                        <div>digiTNMS 27 (Linz)</div>
                        <div>MS Andorf</div>
                        <div>TNMS Helfenberg</div>
                        <div>Grand Garage</div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>Digitalferien 2021</h3>
                    <div>
                        <div>27. bis 29. Oktober 2021</div>
                    </div>
                    <div class="address">
                        <div>Online- und Präsenz-Workshops</div>
                        <div>Programmierung hybrider Roboter</div>
                        <div>Entwicklung Smartphone-tauglicher Games</div>
                        <div>Entwicklung von Web Apps und Browser-Games</div>
                        <div>&nbsp; </div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>Digitalferien 2020</h3>
                    <div>
                        <div>27. bis 29. Oktober 2020</div>
                    </div>
                    <div class="address">
                        <div>Online</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>CoderDojo im Rahmen von Traumberuf Technik an der JKU</h3>
                    <div>
                        <div>FR, 28. Februar 2020</div>
                    </div>
                    <div class="address">
                        <div>Johannes Kepler Universität</div>
                        <div>Altenbergerstraße 69</div>
                        <div>4040 Linz</div>
                        <div>&nbsp;</div>
                        <div>&nbsp;</div>
                    </div>
                    <div><!--
                        <a href="https://coderdojo-linz.github.io/anmeldung.html" target="_blank">Anmeldung</a>
                    -->
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="appointment">
                    <h3>CoderDojo Perg</h3>
                    <div>
                        <div>FR, 14. Februar 2020</div>
                        <div>16:00 - 18:00</div>
                    </div>
                    <div class="address">
                        <div>HTL Perg</div>
                        <div>Machlandstraße 48</div>
                        <div>4320 Perg</div>
                    </div>
                    <div></div>
                </div>

            </div>
        </div>
    </div>
</section>
