{{ "<!-- CALL FOR PROPOSALS -->" | safeHTML }}
<section id="call-for-speakers" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Galerie</h2>
        <p>
          Eindrücke unserer Veranstaltungen und Workshops
        </p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="../img/workshop.jpg">
              <img src="../img/workshop.jpg" alt="Lights">
              <div class="caption">
                <p>In der Werkstätte der HTL Leonding</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="../img/lets-start-coding.jpg">
              <img src="../img/lets-start-coding.jpg" alt="Nature">
              <div class="caption">
                <p>Lets start coding!</p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="../img/cafeteria.jpg">
              <img src="../img/cafeteria.jpg" alt="Fjords">
              <div class="caption">
                <p>... or have a break ...</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4 col-md-offset-2 col-sm-6 text-center">
                    <a href="https://twitter.com/{{ .Site.Params.contact.twitter }}" target="_blank"><i class="fa fa-twitter fa-3x wow bounceIn"></i>
                        <p>@{{ .Site.Params.contact.twitter }}
                    </a></p>
                </div> -->
    </div>
  </div>
</section>
