{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div id="about"></div>
    <div class="header-content">
        <div class="scroll">
            <!-- {{ with .Site.Params.hero.slogan }}
                <h1>{{ . | markdownify  }}</h1>
            {{ end }}
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <hr>
            {{ end }}
            {{ with .Site.Params.hero.subtitle }}
                <p>{{ . | markdownify }}</p>
            {{ end }} -->
            <a href="#appointments" class="btn btn-primary btn-xl page-scroll"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
        </div>
    </div>
</header>
