{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="tickets">
    <div class="container">
        <!-- Begin Mailchimp Signup Form -->
        <div class="row" id="mc_embed_signup">
            <form
                action="https://timecockpit.us5.list-manage.com/subscribe/post?u=f628a14a6f934bf75e14ef1c3&amp;id=8137ea1fb7"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-faded">Abonniere unseren Newsletter und erhalte alle unsere Veranstaltungen per Mail</p>
                </div>

                <div class="col-lg-6 col-lg-offset-2 col-xs-9 text-center">
                    <input type="email" class="form-control" placeholder="Emailadresse eingeben" value=""
                        name="EMAIL" class="required email" id="mce-EMAIL" />

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_f628a14a6f934bf75e14ef1c3_8137ea1fb7" tabindex="-1" value=""></div>
                </div>

                <div class="col-sm-2 col-xs-3">
                    <input type="submit" class="btn btn-default btn-block" name="subscribe" id="mc-embedded-subscribe"
                        value="Abonnieren"></button>
                </div>

                <div class="col-lg-8 col-lg-offset-2 col-xs-12 text-center">
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                </div>
            </form>


            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script
                type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
        </div>
        <!--End mc_embed_signup-->
    </div>
</section>
