<section class="bg-dark" id="partners">
    <div class="partners-image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Projektpartner</h2>

                <p>unsere Kooperationspartner stellen sich vor</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-6 col-xs-offset-6 partner-list">
                <ul>
                    <li><span>HTL Leonding</span></li>
                    <li><span>HTL Perg</span></li>
                    <li><span>HTL Grieskirchen</span></li>
                    <li><span>FH Hagenberg</span></li>
                    <li><span>JKU Linz</span></li>
                </ul>
            </div>

            <div class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset0 col-xs-6 col-xs-offset-6 partner-list">
                <ul>
                    <li><span>CoderDojo Linz</span></li>
                    <li><span>Business Upper Austria</span></li>
                    <li><span>Ars Electronica Center</span></li>
                    <li><span>Company Partners</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>