{{ "<!-- ABOUT -->" | safeHTML }}
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sponsoren</h2>
                <p class="text-muted">Wir danken unseren Unterstützern!</p>
            </div>
        </div>

        {{ with (.Site.GetPage "/sponsors") }}
            {{ range .Pages.GroupByParam "priority" }}
                <div class="row sponsors sponsor-overview equal">
                    <div class="col-sm-12 col-xs-12 text-center">
                        {{ range first 1 .Pages }}
                            <h3 class="sponsor-type">{{ .Type }}</h3>
                        {{ end }}
                    </div>

                    {{ range .Pages.ByParam "title" }}
                        {{ $cols := 4 }}
                        {{ $colsXs := 6 }}
                        {{ $colsOffsetXs := 0 }}

                        {{ if or (or (eq .Params.priority 1) (eq .Params.priority 5)) (eq .Params.priority 4) }}
                            {{ $cols = 12 }}
                            {{ $colsXs = 12 }}
                        {{ end }}
                        {{ if (eq .Params.priority 2) }}
                            {{ $cols = 4 }}
                            {{ $colsXs = 8 }}
                            {{ $colsOffsetXs = 2 }}
                        {{ end }}

                        {{ $logo := .Params.logo }}
                        {{ if isset .Params "logooverview" }}
                            {{ $logo = .Params.logooverview }}
                        {{ end }}
                        <div class="col-sm-{{$cols}} col-sm-offset-0 col-xs-{{$colsXs}} col-xs-offset-{{$colsOffsetXs}} text-center">
                            <p>
                                <!-- <a href="/sponsors#{{ .Params.title }}"><img class="prio{{.Params.priority}}"
                                        src="/img/sponsors/{{ $logo }}" /></a> -->
                                        <img class="prio{{.Params.priority}}"
                                        src="/img/sponsors/{{ $logo }}" />
                            </p>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        {{ end }}
    </div>
</section>