{{ "<!-- ABOUT -->" | safeHTML }}
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sponsoren</h2>
                <p class="text-muted">Wir danken unseren Unterstützern!</p>
            </div>
        </div>

        {{ $headless := .Site.GetPage "/sponsors" }}
        {{ $reusablePages := $headless.Resources.Match "*" }}
        {{ range sort $reusablePages "Params.priority" "title"  }}
        <div class="row sponsors">
            <hr class="primary full">

            <div class="col-lg-3 text-center">
                <h3 class="visible-lg">&nbsp;</h3>
                <p>
                    <img src="img/sponsors/{{ .Params.logo }}" />
                </p>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <h3>{{ .Title }}</h3>
                    </div>
                    <div class="col-sm-6 col-xs-6 text-right">
                        <h3 class="sponsor-type">{{ .Type }}</h3>
                    </div>
                </div>

                {{ .Content | safeHTML}}
            </div>
        </div>
        {{ end }}
    </div>
</section>